:root {
  --primary-color: #4B4E4E;
  --secondary-color: #1f1022;
  --tertiary-color: #C44900;
  --accent-color: #FDF7FA;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headBack {
  background-color: var(--secondary-color);
  position: sticky;
}

.head, .navItems {
  background-color: var(--tertiary-color);
  color: var(--accent-color);
  border-radius: 60% 40% 40% 20% / 70% 50% 30% 25%  ;
}

.head, .navItems:hover {
  
}


