:root {
  --primary-color: #4B4E4E;
  --secondary-color: #1f1022;
  --tertiary-color: #0d6efd;
  --accent-color: #FDF7FA;
}

/* html {
  font-size:%;
} */

body {
  margin: 0;
  font: 300 11px/1.4 -apple-system, BlinkMacSystemFont, 'Roboto' 'sans-serif',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
  overflow: hidden;
  /* This makes animations work some reason */
  display: block;
  
  color: var(--accent-color);
}


.headBack {
  background-color: var(--secondary-color);
  position: sticky;
}

.head, .navItems {
  color: var(--accent-color);
  background-color: var(--tertiary-color);
  border-radius: 60% 40% 40% 20% / 70% 50% 30% 25%  ;
}



/* .head, .navItems:hover {
  
} */

/* Will animate about section */
.aboutSect {
  width: 100%;
  will-change: contents;

  position: absolute;
  /* opacity: 0; */
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  // animation-delay: 1s;
}
 h2 {
  font-weight: 300;
  font-style: italic;
  

}

/* .content {

 } */

 .footer {
  background-color: var(--secondary-color);
  margin-top: 1rem;
  padding: 1rem;
  position: fixed;
  bottom: 0;
 }
.social {
  list-style: none;
  padding: 0;
}
// possibly will be added on hover effects later to this. Nice Purple ish maybe
.social li 
{
  a {
    font-size: 25px;
    line-height: 20px;
    
  }
}

// .footP {

// }

.homeH1 {
  animation: lightSpeedInRight 2s forwards;
}




