:root {
  --primary-color: #4B4E4E;
  --secondary-color: #1f1022;
  --tertiary-color: #D7263D;
  --accent-color: #FDF7FA;
}

/* html {
  font-size:%;
} */

body {
  margin: 0;
  font-family: 300 11px/1.4 -apple-system, BlinkMacSystemFont, 'Roboto' 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
  overflow: hidden;
  /* This makes animations work some reason */
  display: block;
}


.headBack {
  background-color: var(--secondary-color);
  position: sticky;
}

.head, .navItems {
  background-color: var(--tertiary-color);
  color: var(--accent-color);
  border-radius: 60% 40% 40% 20% / 70% 50% 30% 25%  ;
}



/* .head, .navItems:hover {
  
} */

/* Will animate about section */
.aboutSect {
  width: 100%;
  will-change: contents;
  height: 90%;
  min-height: 566px;
  position: absolute;
  /* opacity: 0; */
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}

/* .content {

 } */

 .footer {
  background-color: var(--secondary-color);
  margin-top: 1rem;
  padding: 1rem;
  position: fixed;
  bottom: 0;
 }


